.container {
  margin-top: 200px;
  height: 200px;
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.input {
  width: 50%;
}

.add {
  padding: 10px 50px;
  outline: none;
  border-radius: 10px;
  border: none;
  font-size: 1.5em;
  background: rgba(255, 255, 255, .5);
}

.return {
  font-size: 16px;
  padding: 10px 15px;
}
